.navbar .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=CCCCCC');
}

#camps {
    display:flex; flex-wrap: wrap;
}

.row .col-sm-6 {
    margin-bottom: 2%;
}

.container h1 {
    text-align: center;
}

#newForm{
    margin: 25px auto;
    width: 30%;
}
